<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.Dynamics.Nav.LoadTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Microsoft.Dynamics.Nav.LoadTest.Properties.Settings>
            <setting name="NAVClientService" serializeAs="String">
                <value>http://localhost:8080/DynamicsNAV80/WebClient/Services/ClientService.svc</value>
            </setting>
            <setting name="NAVUserName" serializeAs="String">
                <value>UserName</value>
            </setting>
            <setting name="NAVUserPassword" serializeAs="String">
                <value>Password</value>
            </setting>
            <setting name="NAVUserAuthenticationScheme" serializeAs="String">
                <value>Windows</value>
            </setting>
        </Microsoft.Dynamics.Nav.LoadTest.Properties.Settings>
    </applicationSettings>
</configuration>